body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header section */
header {
    background-color: #708238; /* Olive green background color */
    color: white;
    padding: 1em 0;
    text-align: center;
}

/* Navbar */
.navbar {
    background-color: #708238; /* Olive green background color */
}

main {
    padding: 2em 0;
    background-color: #ffffff; /* White background color */
}

.jumbotron {
    background-color: #f8f9fa; /* Light gray background color */
    padding: 2em;
    border-radius: 10px;
}

/* Change Explore Tours button color */
a.btn-success[href="#tours"] {
    background-color: #708238; /* New background color */
    border-color: #708238; /* New border color */
}

a.btn-success[href="#tours"]:hover {
    background-color: #616100; /* New hover background color */
    border-color: #616100; /* New hover border color */
}

.card-deck .card {
    margin-bottom: 1.5em;
    background-color: #ffffff; /* White background color */
}

.footer-image-container {
    background-color: #ffffff; /* White background color */
    text-align: center;
    padding: 1em 0;
}

.footer-logo {
    max-width: 400px; /* Increase the size as needed */
    width: 100%; /* Ensure it scales properly */
    height: auto;
}

footer {
    background-color: #708238; /* Dark background color */
    color: white;
    text-align: center;
    padding: 1em 0;
}

form {
    margin-top: 1em;
}

form label {
    margin-top: 1em;
}

form input, form textarea {
    padding: 0.5em;
    margin-top: 0.5em;
}

/* Change Send button color */
form button.btn.btn-success {
    background-color: #708238; /* New background color */
    border-color: #708238; /* New border color */
    color: white; /* Text color */
}

form button.btn.btn-success:hover {
    background-color: #616100; /* New hover background color */
    border-color: #616100; /* New hover border color */
}
