body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: #f0f8ff; /* 
}

/* Header section */
header {
    background-color: #808000; /* Olive green background color */
    color: white;
    padding: 1em 0;
    text-align: center;
}

/* Navbar */
.navbar {
    background-color: #808000; /* Olive green background color */
}

main {
    padding: 2em 0;
    background-color: #ffffff; /* White background color */
}

.jumbotron {
    background-color: #f8f9fa; /* Light gray background color */
    padding: 2em;
    border-radius: 10px;
}

.card-deck .card {
    margin-bottom: 1.5em;
    background-color: #ffffff; /* White background color */
}

footer {
    background-color: #333; /* Dark background color */
    color: white;
    text-align: center;
    padding: 1em 0;
}

form {
    margin-top: 1em;
}

form label {
    margin-top: 1em;
}

form input, form textarea {
    padding: 0.5em;
    margin-top: 0.5em;
}

form button {
    margin-top: 1em;
    padding: 0.5em;
    background-color: #4CAF50; /* Green button background color */
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049; /* Darker green on hover */
}
